* {
    /* box-sizing: border-box; */
}

a {
    background-color: green;
    color: aliceblue;
}

.elem {
    border: 5px solid blue;
    border-radius: 5px;
    display: inline-block;
    /* padding: 20px; */
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
    padding: 20px 15px 30px 8px;
    margin: 50px 10px 5px 20px;
    /* top | right | bottom | left */
}

.block img {
    width: 100px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.text {
    color: grey;
}

.block-2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid blue;
    display: inline-block;
}

.block-3 {
    width: 500px;
    height: 200px;
    background-color: #b1b1b1;
    margin-top: 30px;
    padding: 80px 80px;
    border: 2px solid #00ff55;
    display: inline-block;
}

.block-image {
    width: 100%;
    height: 1000px;
    background-image: url(https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_2x1.jpg);
}
